[submodule "Types"]
	path = Types
	url = https://github.com/MeetXTelegram/Types
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json
[submodule "Definitions"]
	path = Definitions
	url = https://github.com/MeetXTelegram/Definitions
